[Unit]
Description=ARI WEB Application
After=network.target asterisk.service

[Service]
ExecStart=/usr/bin/ari-web-app -c /etc/ari-app
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
Alias=ari-web-app.service
